.action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
}

.view-action {
    display: flex;
    gap: 20px;
    color: gray;
    cursor: pointer;
}

.view-action .selected {
    color: black;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
    gap: 10px;
    color: grey;
}

.todo-list-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.card-row {
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    p:nth-child(2) {
        overflow: hidden;
    }
}

.todo-list-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.card-column {
    cursor: pointer;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    p:nth-child(2) {
        overflow: hidden;
    }
}

.card-row .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(88, 88, 88);
    font-size: 12px;
}

.card-column .bottom-section {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(88, 88, 88);
    font-size: 12px;
}

.icon-pin-inactive {
    color: rgb(167, 167, 167);
}

.icon-pin-active {
    color: black;
}

.add-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    border: none;
    background-color: #1c2537;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.status-box {
    border-radius: 8px;
    font-size: 14px;
    padding: 5px;
}

.one {
    background-color: #fbeecf;
}

.two {
    background-color: #cfecfb;
}

.three {
    background-color: #cffbcf;
}