<div class="Right-container">
    <h2>Todo List</h2>
    <div class="action-item">
        <div class="view-action">
            <span class="material-icons selected">space_dashboard</span>
            <span class="material-icons">view_agenda</span>
        </div>
        <div class="sort-action">
            <span class="material-icons">sort_by_alpha</span>
        </div>
    </div>
    <div class="todo-list">
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons icon">push_pin</span>
                <span class="material-icons icon">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
        <div class="card">
            <h3>Title</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque sint pariatur laborum! Minima obcaecati ut dolor perferendis reprehenderit nesciunt recusandae tempore. Minus ducimus doloremque vero quaerat beatae, minima voluptate sequi unde velit eveniet, hic dicta fugit nesciunt harum ea at esse reiciendis officia sapiente explicabo, optio corrupti rem repellendus. Exercitationem?</p>
            <div class="bottom-section">
                <span>Updated Today</span>
                <span class="material-icons">push_pin</span>
                <span class="material-icons">more_vert</span>
            </div>
        </div>
    </div>
    <button class="add-btn" type="button">
        <span class="material-icons">add</span>Add Notes
    </button>
</div>