<div class="container">
    <div class="left-section">
        <div class="header">
            <i class="icon fa-solid fa-square-up-right"></i>&nbsp;
            <span class="comp-name">Workon</span>
        </div>
        <p class="bottom-text">Create Todo List with Workon</p>
        <div class="grid">
            <div class="box1">
                <h3>Note</h3><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, possimus!</p>
            </div>
            <div class="box2">
                <h3>Quote</h3><br>
                <i>" Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, possimus! "</i>
            </div>
            <div class="box3">
                <h3>Schedule</h3><br>
                <p>
                    <i class="fa-solid fa-circle-check" style="color: #20dd1d;"></i>&nbsp;&nbsp;Monday: Lorem
                </p>
                <br>
                <p>
                    <i class="fa-solid fa-circle-check" style="color: #20dd1d;"></i>&nbsp;&nbsp;Tuesday: Lorem
                </p>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="title-header">
            <h1 class="title">Welcome back!</h1>
            <span class="sub-title">Start Managing your task efficiently</span>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>