<div class="container">
    <div class="flex-container">
        <div class="app-logo">
            <span class="material-icons">webhook</span>
            Workon
        </div>
        <div class="input-box">
            <span class="material-icons">search</span>
            <input type="text" placeholder="Search Todo" class="search-box">
        </div>
        <span class="section-title">Menu</span>
        <button *ngFor="let tab of menuTabs" type="button" class="nav-btn" (click)="onTabClick(tab.id)" [ngClass]="{'selected': tab.active}" [routerLink]="[tab.route]">
            <span class="material-icons">{{tab.icon}}</span>
            {{tab.id | titlecase}}
            <div *ngIf="tab.id === 'todo'" class="count-box">
                <div class="count">0</div>
            </div>
        </button>
        <ng-template *ngIf="false">
            <span class="section-title">Others</span>
            <button *ngFor="let tab of otherTabs" type="button" class="nav-btn" (click)="onTabClick(tab.id)" [ngClass]="{'selected': tab.active}" [routerLink]="[tab.route]">
                <span class="material-icons">{{tab.icon}}</span>
                {{tab.id | titlecase}}
            </button>
        </ng-template>
    </div>
    <div class="bottom-profile">
        <div class="bottom-container">
            <span class="material-icons bottom-icon">account_circle</span>
            <div class="email-id-text">abc@gmail.com</div>
            <span class="material-icons bottom-icon">logout</span>
        </div>
    </div>
</div>