<div class="container">
    <div class="flex-container">
        <div class="app-logo">
            <i class="fa-solid fa-notes-medical"></i>
            Workon
        </div>
        <div class="input-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search Todo" class="search-box">
        </div>
        <span class="section-title">Menu</span>
        <button type="button" class="nav-btn selected">
            <i class="fa-solid fa-list-ul"></i>
            Todo List
            <div class="count-box">
                <div class="count">0</div>
            </div>
        </button>
        <button type="button" class="nav-btn">
            <i class="fa-regular fa-calendar"></i>
            Calender
        </button>
        <span class="section-title">Others</span>
        <button type="button" class="nav-btn">
            <i class="fa-solid fa-fill-drip"></i>
            Theme
        </button>
        <button type="button" class="nav-btn">
            <i class="fa-solid fa-sliders"></i>
            Settings
        </button>
    </div>
    <div class="bottom-profile">
        <div class="bottom-container">
            <i class="bottom-icon fa-regular fa-circle-user"></i>
            <div class="email-id-text">abc@gmail.com</div>
            <i class="bottom-icon fa-solid fa-arrow-right-from-bracket"></i>
        </div>
    </div>
</div>