/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/** Login and Signup page */
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 470px;
}

.input-field {
    position: relative;
}

.input-field .icon:nth-child(1) {
    position: absolute;
    top: 18px;
    left: 15px;
}

.input-field .icon:nth-child(2) {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
}

.forgot-pass-btn {
    text-align: right;
}

.link-btn {
    cursor: pointer;
    font-size: 15px;
    color: #157afe;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    padding: 10px;
}

.link-btn:hover {
    background-color: #f2f7fe;
}

input {
    width: 378px;
    height: 50px;
    padding-inline-start: 46px;
    padding-inline-end: 46px;
    border: none;
    border-radius: 10px;
    background-color: #f2f4f6;
}

input:focus {
    outline: 1px solid #157afe;
}

.err-text {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 13px;
    color: red;
}

.btn {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #157afe;
    color: white;
    cursor: pointer;
}

.btn:disabled {
    background-color: #a6ccf1;
    cursor: not-allowed;
}

.below-text {
    text-align: center;
    color: gray;
}

.bottom-link {
    color: #157afe;
    cursor: pointer;
}