<div class="form" [formGroup]="loginForm">
    <div class="input-field">
        <i class="icon fa-regular fa-envelope"></i>
        <input placeholder="Username" class="text-field" type="text" formControlName="username" required>
        <div class="err-text" *ngIf="(username?.dirty || username?.touched) && username?.invalid">
            <i class="fa-regular fa-bell" style="color: #ff0000;"></i>
            Username is required
        </div>
    </div>
    <div class="input-field">
        <i class="icon fa-solid fa-lock"></i>
        <i [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'" class="icon" (click)="togglePass()"></i>
        <input placeholder="Password" id="text-field" class="text-field" type="password" formControlName="password" required>
        <div class="err-text" *ngIf="(password?.dirty || password?.touched) && password?.invalid">
            <i class="fa-regular fa-bell" style="color: #ff0000;"></i>
            Password is required
        </div>
    </div>
    <div class="forgot-pass-btn">
        <button class="link-btn">Forgot Password?</button>
    </div>
    <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
    <span class="below-text">Not a member? <span class="signup-link">Sign up now</span></span>
</div>